:root {
  // Colors
  --primary-green: #00ae45;
  --primary-yellow: #ffbb00;
  --primary-red: #eb4132;
  --secondary: #4285f4;

  // Colors - hovers
  --primary-green_hover: #008757;

  //Typography
  --font-family-base: "Open sans", sans-serif;
  --font-color-base: #757575;
  --font-size-base: 1.4rem;
  --font-weight-base: 400;
  --line-height-base: 1.3;

  // Transitions
  --transition: all 0.2s ease-in-out;
}
