@mixin container {
  margin: 0 auto;
  max-width: 133rem;
  padding-inline: 1.5rem;
}

@mixin btn-icon {
  display: flex;
  padding: 1rem;
}

@mixin footer_block {
  padding-block: 5.4rem;
  border-bottom: 1px solid #e8e8e8;
}

@mixin arrows {
  position: absolute;
  display: flex;
  top: 50%;
  z-index: 9;
  transition: var(--transition);

  &:not(:disabled):hover {
    color: var(--secondary);
  }

  &--prev {
    left: -1rem;
    transform: translate(-100%, -50%);
  }

  &--next {
    right: -1rem;
    transform: translate(100%, -50%);
  }
}
