.footer {
  padding-block: 2.2rem;
  background-color: #fafafa;

  &__container {
    @include container;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 2.2rem;

    @media ($mobile) {
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__list {
    @media ($mobile) {
      max-height: 0;
      overflow: hidden;
      transition: var(--transition);
    }
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 1.4rem;
    font-size: 2rem;
  }

  &__item {
    padding-block: 0.4rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition);

    &:hover {
      color: var(--secondary);
    }
  }

  &__copyright {
    display: block;
    margin-inline: auto;
    margin-block: 4rem 2rem;
    color: #817b76;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
